matplotlib>=3.6.2
numpy==1.21.0
numba==0.55.2
stumpy==1.4.0
xgboost
pandas
scikit-learn
scipy
statsmodels>=0.14.0
ray>=2.6.3
tqdm>=4.64.0
dash>=2.9.3
dash-bootstrap-components>=1.5.0
reformer-pytorch==1.4.4
lightgbm>=4.1.0
tamu_d3m==2022.05.23
nimfa==1.4.0
PyWavelets>=1.1.1
combo
tensorflow
torch>=1.11.0
salesforce-merlion
timm
transformers
peft
pytorch_lightning
tslearn
rotary_embedding_torch